.accessories-main-page-container {
  margin-bottom: 50px;
  .accessories-pagination {
    z-index: 2;
  }
}
.accessories-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}



.accessories-img-container {
  .swiper-container {
    height: 400px;
    .swiper-wrapper {
      .accessories-slide {
        display: flex;
        justify-content: center;
        background: transparent;
      }
    }
  }
}

@media screen and (max-width: 1200px){
  .accessories-img-container {
    .swiper-container {
      width: 100%;
      height: 300px;
    }
  }
}

@media screen and (max-width: 480px){
  .accessories-img-container {
    .swiper-container {
      width: 290px;
      height: 220px;
    }
  }
  .accessories-img {
    width: 290px;
    height: 220px;
  }
}
