.gen-page-container {
  max-width: 900px;
  margin: 140px auto 50px auto;
  .category-container {
    margin-bottom: 50px;
  }
}
.search-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 63px;
  margin: 20px 0 0 20px;
  padding: 20px 0;
  width: 100px;
  background: #5A98D0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  cursor: pointer;
  border: none;
}
.category-title {
  font-family: Montserrat sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #1F3F68;
  margin-bottom: 40px;
}

.sub-cat-title {
  display: block;
  position: relative;
  margin: 0 0 15px 0;
  font-family: Montserrat sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  color: $lightBlue;
  padding: 20px 20px 20px 50px;
  background: #FFFFFF;
  box-shadow: 0 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 17px;
  cursor: pointer;
  &.no-arrow {
    &:after {
      content: none;
    }
  }
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 60px;

    width: 22px;
    height: 8px;
    background-image: url('../img/arrow.png');
    transition: 0.25s all linear;
  }

  &.open {
    &:after {
      transform: translateY(-50%) rotate(180deg);
      //transform: rotate(360deg);
    }
  }
}
.genetic-analysis {
  font-family: Montserrat sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #5A98D0;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 17px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 15px;
  &.decor-dot {
    padding-left: 100px;
    display: flex;
    align-items: center;
  }
  &.decor-dot:after {
    content: '';
    position: absolute;
    left: 50px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #1F3F68;
  }
}
.sub-menu {
  .genetic-analysis-subcategory-container:last-child {
    margin-bottom: 60px;
  }
}

.title-section {
  font-family: Montserrat sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #1F3F68;
  margin: 0 0 35px 0;
}
.form-container{width: 100%;}
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 auto 15px;
  .animation-container {
    width: 260px;
    height: 160px;
  }
  .input-search {
    padding: 20px 10px;
    background: rgba(90, 152, 208, 0.1);
    border-radius: 10px;
    outline: none;
    border: none;
    position: relative;
    font-size: 16px;
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 56px;
      width: 30px;
      height: 30px;
      background: none;
      display: block;
    }
  }
}

.form{
  display: flex;
    width: 100%;
}

.field {
  display: flex;
  flex-flow: column-reverse;
  width: 100%;
}

/**
* Add a transition to the label and input.
* I'm not even sure that touch-action: manipulation works on
* inputs, but hey, it's new and cool and could remove the
* pesky delay.
*/
label, input {
  transition: all 0.2s;
  touch-action: manipulation;
}

input {
  font-size: 1.5em;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-family: inherit;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  cursor: text;
}

input:focus {
  outline: 0;
  border-bottom: 1px solid #666;
}

label {
  font-family: Montserrat sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #1F3F68;
  letter-spacing: 0.05em;
}

input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(10px, 2.85rem) scale(1.5);
  font-family: Montserrat sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #1F3F68;
}


::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
input:focus::-webkit-input-placeholder {
  opacity: 1;
}
input:not(:placeholder-shown) + label,
input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}
.no-results {
  text-align: center;
  color: #1f3f68;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
}
@media screen and (max-width: 767px) {
  .search-form{
    flex-direction: column;
    .form {
      width: 100%;
      max-width: none;
    }
  }
  .gen-page-container {
    width: calc(100% - 30px);
    max-width: none;
  }
  .sub-category-container {width: 100%; }
  //.sub-cat-title {width: 100%;}
  //.genetic-analysis {width: 100%;}
}
@media screen and (max-width: 480px){
  .search-button {
    padding: 10px 0;
    font-size: 16px;
    line-height: 16px;
    height: auto;
  }
  .sub-cat-title{
    font-size: 20px;
    padding: 20px 5px 20px 20px;
    line-height: 25px;
  }
  .sub-cat-title:after {right: 15px; }
  .genetic-analysis {
    font-size: 16px;
    line-height: 20px;
    padding: 20px;
    .decor-dot {padding-left: 40px; }
    &.decor-dot:after{left: 20px; }
  }
  .no-results {
    font-size: 20px;
    line-height: 25px;
  }
}
