.certificate-main-page-container {
  margin-bottom: 50px;
}
.certificate-img-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  a {
    img {
      width: 400px;
      height: 600px;
    }
  }
}
.quality-control-container {
  margin-top: 50px;
  .quality-content {
    * {
      font-size: 16px!important;
      font-family: Montserrat,sans-serif!important;
    }
  }
}

@media screen and (max-width: 480px){
  .certificate-img-container {
     a {
       img {
         width: 290px;
         height: 400px;
       }
     }
  }
  .quality-control-container {
    margin-top: 20px;
    .quality-content {
      * {
        font-size: 13px !important;
      }
    }
  }
}
