.contacts-page-title {
  padding: 0 0 60px 0;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #1F3F68;
}
.contacts-page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 100px;
}
.contacts-page-info-container {
  display: flex;
  flex-direction: column;
  .contacts-block {
    margin-bottom: 60px;
  }
  .contacts-title {
    color: #1F3F68;
  }
  .contacts-content {
    a {color: #1F3F68;}
  }
}
.contacts-page-form-container {
  display: flex;
  flex-direction: column;
  padding: 45px 60px;
  width: 420px;
  background: #FFFFFF;
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}
.contact-us-title {
  margin: 0;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}
.contacts-form {
  .form-group {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    label {
      text-transform: none;
      margin-bottom: 10px;
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 0.04em;
      color: #1F3F68;
      opacity: 0.8;
    }
    input {
      height: 60px;
      font-size: 16px;
      line-height: 30px;
      padding: 15px;
      color: #1f3f68;
      border: 1px solid #356ead66;
      box-sizing: border-box;
      border-radius: 10px;
    }
    textarea::placeholder, input::placeholder {
      line-height: 30px;
      letter-spacing: 0.04em;
      color: #1F3F68;
      opacity: 0.2;;
    }
    textarea {
      height: 140px;
      width: 100%;
      line-height: 30px;
      font-size: 16px;
      padding: 15px;
      color: #1f3f68;
      border: 1px solid #356ead66;
      box-sizing: border-box;
      border-radius: 10px;
    }
  }
  .error-field {
    label{color: red;}
    input{border: 1px solid red;}
  }
  .send-form-button {
    margin-top: 35px;
    padding: 20px 0;
    width: 100%;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
  }
}
.contacts-page-map {
  display: flex;
  justify-content: center;
  margin: 60px 0;
  padding: 0 100px;
  iframe {
    width: 100%;
    height: 600px;
  }
}
@media screen and (max-width: 991px){
  .contacts-page-container {
    padding: 0;
  }
  .contacts-page-info-container {
    width: 100%;
    .contacts-block {
      margin-bottom: 30px;
    }
    .contacts-title{
      margin-bottom: 10px;
    }
  }
  .contacts-page-form-container {
    width: calc(100% - 120px);
  }
  .contacts-page-container {
    flex-direction: column;
  }
  .contacts-page-map {
    padding: 0;
    iframe{height: 500px;}
  }
}
.error-form {
  display: none;
  color: red;
  font-size: 18px;
  line-height: 26px;
  margin-top: 5px;
}

#modal-success {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 45vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  .modal-content {
    margin: auto;
    padding: 20px;
    max-width: 360px;
    background: #fff;
    box-shadow: 5px 10px 50px rgba(16,112,177,.2);
    border-radius: 10px;
  }
  .modal-message{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-button {
    width: 100px;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background: #5a98d0;
    box-shadow: 5px 20px 50px rgba(16,112,177,.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    letter-spacing: .04em;
    color: #fff;
    border: none;
  }
}


@media screen and (max-width: 600px){
  .contacts-page-form-container {
    margin-top: 20px;
    width: calc(100% - 40px);
    padding: 15px 20px;
  }
}
@media screen and(max-width: 480px){
  .contacts-page-map  iframe {
    height: 300px;
  }
  #modal-success {
    .modal-content {max-width: 250px; }
    .modal-message {
      font-size: 16px;
    }
  }
}
