.our-partners-main-page-container {
  margin-bottom: 50px;
}
.partner-block-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.partners-swiper {
  &.swiper-container {
    width: 100%;
    max-height: 500px;
    box-shadow: 5px 20px 50px rgba(16,112,177,.2);
    border-radius: 70px;
  }
}
.partner-title {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #1f3f68;
  margin: 25px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  a {
    span {
      margin-left: 10px;
    }
  }
}
.partner-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-height: 350px;
  padding-bottom: 25px;
  .partner-text-container {width: 400px; }
  .partner-text-container-full-width {
    width: calc(100% - 50px);
    padding: 25px 0;
  }
  .partner-text-container, .partner-text-container-full-width {
    * {
      font-family: Montserrat,sans-serif!important;
      font-size: 16px!important;
    }
    max-height: 350px;
    overflow: scroll;
    p:first-child {margin-top: 0; }
    p:last-child {margin-bottom: 0; }
  }
  .partner-img-container {
    width: 400px;
    height: 300px;
    .partner-img {
      width: 400px;
      height: 300px;
    }
  }
}

@media screen and (max-width: 991px) {
  .partners-swiper {
    &.swiper-container {
      max-height: 600px;
    }
  }
  .partner-title {
    font-size: 24px;
  }
  .partner-content-container {
    flex-direction: column;
    height: auto;
    justify-content: space-evenly;
    .partner-img-container {
      width: 80%;
      height: 200px;
      margin-bottom: 25px;
      .partner-img {
        width: 100%;
        height: 200px;
      }
    }
    .partner-text-container {
      width: calc(100% - 40px);
      padding: 0 20px;
      p:last-child {
        margin-bottom: 150px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .partners-swiper {
    &.swiper-container {
      height: 450px;
    }
  }
  .partner-title {
    margin: 10px auto;

    a {
      img {
        width: 20px;
        height: 20px;
      }

      span {
        font-size: 16px;
      }
    }
  }
  .partner-img-container {
    display: none;
  }
  .partner-content-container {
    height: 350px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    .partner-text-container-full-width {
      width: 100%;
      padding: 25px 10px;
    }
    .partner-text-container {
      max-height: 350px;
      p:last-child {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 479px) {
  .partners-swiper {
    &.swiper-container {
      border-radius: 25px;
    }
  }
  .partner-text-container, .partner-text-container-full-width {
    * {
      font-size: 13px !important;
    }
    margin-bottom: 20px;
  }
}
