.title-service {
  font-family: Montserrat sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #1F3F68;
  margin-bottom: 70px;
}

.content {
  *{
    font-family: Montserrat sans-serif;
    //font-style: normal;
    //font-weight: normal;
    //font-size: 20px;
    line-height: 1.4;
    color: #1F3F68;
  }
  img {
    max-width: 100%;
  }
  margin-bottom: 120px;
}
@media screen and (max-width: 480px){
  .title-service {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 30px;
  }
  .content {
    *{
      font-size: 16px;
      line-height: 26px;
    }
    margin-bottom: 60px;
  }
}
