{% extends 'index.html' %}

{% load i18n %}
{% load poll_extras %}

{% block content %}
<div class="container block-margin">
    {% if acc_list|length > 0 %}
    <h2 class="info-name">{% trans 'Наше обладнання' %}</h2>
    <div class="accessories-img-container">
        {% if acc_list|length > 1 %}

        <div class="swiper-container accessories-swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                {% for acc in acc_list %}
                <div class="swiper-slide">
                    <img class="accessories-img" src="{{acc.image.url}}">
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        {% with photo=acc_list|first %}
        <img class="accessories-img" src="{{photo.image.url}}">
        {% endwith %}
        {% endif %}
        <div class="swiper-pagination accessories-pagination"></div>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block js %}
<script>
    App.accessories_page.init();
</script>
{% endblock  %}
