{% extends 'index.html' %}

{% load i18n %}

{% block content %}
<div class="container analysis-container block-margin">
<!--    <h1 class="title-info-page">{% trans 'Гени' %}</h1>-->
    <h2 class="info-name">{{ info.name }}</h2>
    <div class="genetic-analysis-container">
        {% for key_value in info.get_key_values %}
        <div class="key-value-wrap">
            <div class="name-column-container">
                <div class="name-content">
                    {{ key_value.key }}
                </div>
            </div>
            <div class="value-column-container">
                <div class="value-content">
                    {{ key_value.value }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if info.text %}
    <div class="info-text">
        {{ info.text|safe }}
    </div>
    {% endif %}
</div>


{% endblock %}



