{% extends 'index.html' %}

{% load i18n %}
{% load poll_extras %}

{% block content %}
{% get_license as cert %}
<div class="container block-margin">
    {% for elem in cert %}
    <h2 class="info-name">{{ elem.license }}</h2>
        {% if elem.image %}
            <div class="certificate-img-container">
                <a target="_blank" href="{{elem.image.url}}">
                    <img width="250" height="400" src="{{ elem.image.url }}" alt="certificate">
                </a>
            </div>
        {% endif %}
    {% endfor %}
    <div class="quality-control-container">
        <h2 class="info-name">{{ text.title }}</h2>
        <div>
            {{ text.text | safe }}
        </div>
    </div>
</div>

{% endblock %}
