{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% load poll_extras %}

{% block content %}
{% get_phones  as phones %}
{% get_emails  as emails %}
{% get_social  as social %}
{% get_address  as address %}

<div class="container block-margin">
    <h2 class="contacts-page-title">{% trans 'Контакти' %}</h2>
    <div class="contacts-page-container">
        <div class="contacts-page-info-container">
            {% if phones %}
            <div class="contacts-block">
                <h4 class="contacts-title">{% trans 'Контактний телефон' %}</h4>
                {% for phone in phones %}
                <div class="contacts-content">
                    <img src="{% static 'images/contacts/phone.svg' %}">
                    <a href="tel:{{phone.phone}}">{{phone.phone}}</a>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% if emails %}
            <div class="contacts-block">
                <h4 class="contacts-title">Email</h4>
                {% for email in emails %}
                <div class="contacts-content">
                    <img src="{% static 'images/contacts/mail.svg' %}">
                    <a href="mailto:{{email.email}}">{{email.email}}</a>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% if social %}
            <div class="contacts-block">
                <h4 class="contacts-title">{% trans 'Ми у соцмережах' %}</h4>
                {% for soc in social %}
                <div class="contacts-content">
                     {% if soc.icon %}
                        <img src="{{soc.icon.url}}">
                    {% else %}
                        <img src="{% static 'images/contacts/web.svg' %}">
                    {% endif %}
                        <a href="{{soc.link}}" target="_blank">{{soc.name}}</a>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% if address %}
            <div class="contacts-block">
                <h4 class="contacts-title">{% trans 'Адреса' %}</h4>
                {% for addr in address %}
                <div class="contacts-content">
                    <img src="{% static 'images/contacts/pin.svg' %}">
                    <a href="https://goo.gl/maps/1FNc7BCHiMa3Lbx39" target="_blank">{{addr.address}}</a>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="contacts-page-form-container">
            <h4 class="contact-us-title">{% trans 'Напишіть нам' %}</h4>
            <form class="contacts-form" action="{% url 'main:contacts' %}" id="js_form_ajax" method="post"> {% csrf_token %}
                <div class="form-group" id="name-form">
                    <label for="">{% trans 'Прізвище та ім’я' %}</label>
                    <input placeholder="{% trans 'Прізвище та ім’я' %}" type="text" name="name" onkeyup="App.checkInput(this, ['name-empty', 'name-error'])">
                </div>
                <div class="error-form" id="name-empty">{% trans 'Пусте поле' %}</div>
                <div class="error-form" id="name-error">{% trans "Ім'я не валідне" %}</div>
                <div class="form-group" id="phone-form">
                    <label for="">{% trans 'Контактний телефон' %}</label>
                    <input placeholder="{% trans 'Контактний телефон' %}" type="text" name="phone" onkeyup="App.checkInput(this, ['phone-error', 'phone-empty'])">
                </div>
                <div class="error-form" id="phone-empty">{% trans 'Пусте поле' %}</div>
                <div class="error-form" id="phone-error">{% trans 'Телефон не валідний' %}</div>
                <div class="form-group" id="email-form">
                    <label for="">{% trans 'Email' %}</label>
                    <input placeholder="{% trans 'Email' %}" type="text" name="email" onkeyup="App.checkInput(this, ['email-empty', 'email-error'])">
                </div>
                <div class="error-form" id="email-empty">{% trans 'Пусте поле' %}</div>
                <div class="error-form" id="email-error">{% trans 'Email не валідний' %}</div>
                <div class="form-group">
                    <label for="">{% trans 'Повідомлення' %}</label>
                    <textarea placeholder="{% trans 'Повідомлення' %}" name="msg" id="" cols="30" rows="10"></textarea>
                </div>
                <button class="send-form-button">{% trans 'Надіслати' %}</button>
            </form>
        </div>
    </div>
    <div class="contacts-page-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2538.314892168103!2d30.473346051169564!3d50.49109687938032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cdf26f2e2f43%3A0x9231d3adeb188b86!2z0JrRg9GA0LXQvdGW0LLRgdGM0LrQuNC5INC_0YDQvtCy0YPQu9C-0LosIDE3LCDQmtC40ZfQsiwgMDIwMDA!5e0!3m2!1suk!2sua!4v1590605714770!5m2!1suk!2sua" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>
<!-- The Modal -->
<div id="modal-success">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" onclick="App.closeSuccessModal()">&times;</span>
        <p class="modal-message">{% trans 'Форма успішно відправлена' %}</p>
        <button class="modal-button" onclick="App.closeSuccessModal()">Ок</button>
    </div>
</div>
{% endblock content %}

{% block js %}
<script>
    App.callBackForm();
</script>
{% endblock js %}
