{% extends 'index.html' %}
{% load i18n %}

{% block content %}
<div class="container gen-page-container block-margin">
<!--        <h1 class="title-section"> {% trans 'Гени' %}</h1>-->
        <div class="search-form">
            <div class="animation-container">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets1.lottiefiles.com/datafiles/QNPjM6wN83nuep8/data.json"  background="transparent"  speed="1"  style="width: 260px; height: 160px;" loop autoplay></lottie-player>
            </div>
            <div class="form-container">
                <form class="form" action="{% url 'main:search' %}">
                    <div class="field">

                        <input type="text" name="query" class="input-search" maxlength="100" {% if q %} value="{{q}}" {% endif %} id="fullname" placeholder=" ">
                        <label for="fullname">{% trans 'Пошук по генам' %}</label>

                    </div>
                    <button class="search-button">{% trans 'Пошук' %}</button>
                </form>
            </div>
        </div>
        {% for cat in category %}
        <div class="category-container">

            <h2 class="category-title">{{cat.name}}</h2>
            {% if cat.get_sub_cat %}
            {% for sub_cat in cat.get_sub_cat %}
            <div class="sub-category-container">
                {% if not sub_cat.get_sub_sub_cat %}
                <a class="sub-cat-title no-arrow"
                   href="#">{{ sub_cat.name }}</a>
                {% else %}
                <h4 class="js-sub-cat sub-cat-title open" data-cat-id="sub_cat_{{sub_cat.id}}">{{ sub_cat.name }}</h4>
                <div class="sub-menu hide" data-menu="sub_cat_{{sub_cat.id}}">
                    {% for sub_sub_cat in sub_cat.get_sub_sub_cat %}
                    <div class="genetic-analysis-subcategory-container">
                        <a class="genetic-analysis no-arrow decor-dot"
                           href="{% url 'main:info'  slug=sub_sub_cat.slug  %}">{{ sub_sub_cat.name }}</a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            {% endif %}
            {% for sub_cat in cat.get_sub_sub_cat %}
                   <a class="genetic-analysis  no-arrow decor-dot"
                           href="{% url 'main:info'  slug=sub_cat.slug  %}">{{ sub_cat.name }}</a>
            {% endfor %}
        </div>

    {% endfor %}

    {% for l in list_response %}
    <h2 class="category-title">{{l.category.name}}</h2>
    <div class="sub-category-container">
    {% for sub in l.category.subcat_list %}
     <h4 class="js-sub-cat sub-cat-title " data-cat-id="sub_cat_{{forloop.counter}}">{{ sub.subcat.name }}</h4>
        <div class="sub-menu " data-menu="sub_cat_{{forloop.counter}}">
            {% for anal in sub.subcat.list_ %}
                <a class="genetic-analysis no-arrow decor-dot"  href="{% url 'main:info'  slug=anal.slug  %}">{{ anal.name }}</a>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
    <br>
        {% for anal in l.category.list_analys %}
            <a class="genetic-analysis  no-arrow decor-dot"
                           href="{% url 'main:info'  slug=anal.slug  %}">{{ anal.name }}</a>
        {% endfor %}

    {% endfor %}

    {% if not list_response  and search %}
    <div class="no-results">{% trans 'Нічого не знайдено' %}</div>
    {% endif %}
</div>
{% endblock %}

{% block js %}
<script>
    App.info_page.init();
</script>
{% endblock  %}
