{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% load poll_extras %}
{% block content %}


<div class="main-background">
    <div class="main-content container">
        <h1 class="main-title">Ultragenom</h1>
        <div class="main-text">
            {% blocktrans %}
            Ми надаємо лікарям та їх пацієнтам всебічні та якісні інструменти та ресурси для генетичної діагностики.
            Роблячи це, ми надаємо можливості для цілеспрямованого лікування та індивідуальної допомоги пацієнтам.
            {% endblocktrans %}
        </div>
    </div>
</div>
<section class="our-services-container container">
    {% get_services as services %}
    {% get_license as cert %}
    <h2 class="title" id="service">{% trans 'Наші послуги' %}</h2>
    <div class="our-services">
        {% for service in services %}
        <div class="service">
            <div class="service-content">
                {% if service.icon %}
                <img class="service-img" src="{{service.icon.url}}">
                {% else %}
                <img class="service-img" src="{% static 'img/services/service-1.svg' %}">
                {% endif %}
                <div class="service-text">
                    {{service.lead}}
                </div>
            </div>
            <a href="{% url 'main:service' pk=service.id %}" class="service-read-more">{% trans 'Читати більше' %}</a>
        </div>
        {% endfor %}
    </div>
</section>
{% get_about as about_block %}
<div class="main-page-background">
    <section class="about-us-container container">
        <h2 class="title" id="about-us">{% trans 'Про нас' %}</h2>
        {% for about in about_block %}
        <div class="about-us-content {{ forloop.counter0 | check_reversed }}">
            <div class="about-us-text">
                {{ about.text|safe }}
            </div>
            <div class="about-us-img-container">
                <img src="{{about.image.url}}">
            </div>
        </div>
        {% endfor %}




    </section>
    <section class="team-container container">
        <h2 class="title" id="team">{% trans 'Наша команда' %}</h2>
        <div class="team-description">{% trans 'текст про команду' %}</div>
        {% get_team as team_members %}
        <div class="team-member-container">
            {% for member in team_members %}
            <div class="team-member">
                <div class="team-photo-container">
                    <img src="{{ member.photo.url }}">
                </div>
                <div class="team-member-content">
                    <div class="team-member-name">
                        {{ member.name }}
                    </div>
                    <div class="team-member-description">
                        {{ member.occupation }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% if acc_list|length > 0 %}
    <section class="accessories-main-page-container container">

        <h2 class="title" id="accessories">{% trans 'Наше обладнання' %}</h2>
        <div class="accessories-img-container">
            {% if acc_list|length > 1 %}

            <div class="swiper-container accessories-swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    {% for acc in acc_list %}
                    <div class="swiper-slide accessories-slide">
                        <img class="accessories-img" src="{{acc.image.url}}">
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            {% with photo=acc_list|first %}
            <img class="accessories-img" src="{{photo.image.url}}">
            {% endwith %}
            {% endif %}
            <div class="swiper-pagination accessories-pagination"></div>

        </div>

    </section>
    {% endif %}
    {% if cert|length > 0 %}
    <section class="certificate-main-page-container container">
        <h2 class="title" id="certificates">{% trans 'Наші сертифікати' %}</h2>
        {% for elem in cert %}
        <h2 class="info-name">{{ elem.license }}</h2>
        {% if elem.image %}
        <div class="certificate-img-container">
            <a target="_blank" href="{{elem.image.url}}">
                <img width="250" height="400" src="{{ elem.image.url }}" alt="certificate">
            </a>
        </div>
        {% endif %}
        {% endfor %}
    </section>
    {% endif %}
    <div class="quality-control-container container">
        <h2 class="info-name">{{ text.title }}</h2>
        <div class="quality-content">{{ text.text | safe }}</div>
    </div>
    {% get_partners as partners %}
    {% if partners|length > 0 %}
    <section class="our-partners-main-page-container container">
        <h2 class="title" id="partners">{% trans 'Наші партнери' %}</h2>
        <div class="swiper-container partners-swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                {% for par in partners %}
                <div class="swiper-slide">
                    <h2 class="partner-title">
                        {% if par.img %}
                        <a href="{{par.link}}" target="_blank">
                            <img width="100" src="{{ par.img.url }}" alt="partner">
                            <span style="color: #1f3f68;">{{ par.title }}</span>
                        </a>
                        {% else %}
                        <a href="{{par.link}}" target="_blank">
                            <span style="color: #1f3f68;">{{ par.title }}</span>
                        </a>
                        {% endif %}
                    </h2>

                    <div class="partner-content-container">
                        {% if par.photo %}
                        <div class="partner-img-container">
                            <img class="partner-img" src="{{ par.photo.url }}" alt="partner-image">
                        </div>
                        <div class="partner-text-container">
                            {{par.text | safe}}
                        </div>
                        {% else %}
                        <div class="partner-text-container-full-width">
                            {{par.text | safe}}
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="swiper-pagination partners-pagination"></div>
    </section>
    {% endif %}
    <section class="feedback-container">
        <div class="container">
            {% get_reviews as reviews %}
            {% if reviews %}
            <h2 class="title" id="feedbacks">{% trans 'Відгуки' %}</h2>
            <div class="swiper-container feedback-swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    {% for rev in reviews %}
                    <div class="swiper-slide">
                        <div class="feedback-content-container">
                            <div class="feedback-title">
                                <div class="feedback-img">
                                    <img src="{{rev.photo.url}}" width="60" height="60" style="border-radius: 50%;">
                                </div>
                                <div class="feedback-name">
                                    {{rev.name}}
                                </div>
                            </div>
                            <div class="feedback-text">
                                {{rev.text}}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- If we need pagination -->
            </div>
            <div class="swiper-pagination feedback-pagination"></div>
            {% endif %}
        </div>
    </section>
</div>
{% endblock %}

{% block js %}
<script>
    App.initFeedbackSwiper();
    App.accessories_page.init();
    App.partners_page.init();
</script>
{% endblock %}

