{% extends 'index.html' %}

{% load i18n %}
{% load poll_extras %}

{% block content %}
{% get_partners  as partners %}
<div class="container block-margin">

    {% for par in partners %}
    <h2 class="info-name">
        {% if par.img %}
        <a href="{{par.link}}" target="_blank">
            <img width="50" height="50" src="{{ par.img.url }}" alt="">
            <span style="color: #1f3f68;">{{ par.title }}</span>
        </a>
        {% endif %}
    </h2>
    <div class="about-us-content reversed">
        <div class="about-us-text">
            {{par.text | safe}}
        </div>
        {% if par.photo %}
        <div class="about-us-img-container">
            <img class="partner-img" src="{{ par.photo.url }}" alt="">
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock  %}
