{% extends 'index.html' %}
{% load i18n %}

{% block content %}
<div class="container block-margin">

    <h1 class="title-service">{{ service.title }}</h1>

    <div class="content">
        {{ service.content|safe }}
    </div>
</div>
{% endblock %}
