{% load poll_extras %}
{% load i18n %}
{% load static %}

{% get_language request as language %}
{% get_phones  as phones %}
{% get_emails  as emails %}
{% get_social  as social %}
{% get_address  as address %}
{% get_partners  as partners %}
{% get_license  as licenses %}
<footer class="{% if home_page %}footer-container{% else %}full-footer-width{% endif %}">
    <div class="footer-inner-container">
        {% if home_page %}
        <div class="contacts-container">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2538.314892168103!2d30.473346051169564!3d50.49109687938032!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cdf26f2e2f43%3A0x9231d3adeb188b86!2z0JrRg9GA0LXQvdGW0LLRgdGM0LrQuNC5INC_0YDQvtCy0YPQu9C-0LosIDE3LCDQmtC40ZfQsiwgMDIwMDA!5e0!3m2!1suk!2sua!4v1590605714770!5m2!1suk!2sua"
                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
            </div>
            <div class="contacts-panel">
                {% if phones %}
                <div class="contacts-panel-item-container contacts-mobile">
                    <h4 class="contacts-title">{% trans 'Контактний телефон' %}</h4>
                    {% for phone in phones %}
                    <div class="contacts-content">
                        <img src="{% static 'images/contacts/phone.svg' %}">
                        <a href="tel:{{phone.phone}}">{{phone.phone}}</a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% if emails %}
                <div class="contacts-panel-item-container email">
                    <h4 class="contacts-title">Email</h4>
                    {% for email in emails %}
                    <div class="contacts-content">
                        <img src="{% static 'images/contacts/mail.svg' %}">
                        <a href="mailto:{{email.email}}">{{email.email}}</a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% if social %}
                <div class="contacts-panel-item-container social">
                    <h4 class="contacts-title">{% trans 'Ми у соцмережах' %}</h4>
                    {% for soc in social %}
                    <div class="contacts-content">
                        {% if soc.icon %}
                        <img src="{{soc.icon.url}}">
                        {% else %}
                        <img src="{% static 'images/contacts/web.svg' %}">
                        {% endif %}
                        <a href="{{soc.link}}" target="_blank">{{soc.name}}</a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% if address %}
                <div class="contacts-panel-item-container address">
                    <h4 class="contacts-title">{% trans 'Адреса' %}</h4>
                    {% for addr in address %}
                    <div class="contacts-content">
                        <img src="{% static 'images/contacts/pin.svg' %}">
                        <a href="https://goo.gl/maps/1FNc7BCHiMa3Lbx39" target="_blank">{{addr.address}}</a>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="line-footer"></div>
        {% endif %}
        <div class="footer-info-container">
            <div class="footer-partners-info">
                <div class="footer-logo">
                    <a href="{% url 'main:home' %}" style="display: inline-flex; align-items: center;">
                        <img width="100" height="100" src="{% static 'images/logo.png' %}">
                        <div class="logo-name">Ultragenom</div>
                    </a>
                </div>
                {% if partners %}
                <div class="footer-our-partners">
                    <div class="partners-text">{% trans 'Наші партнери:' %}</div>
                    <div class="partners-links">
                        {% for part in partners %}
                        <a href="{{part.link}}" target="_blank">
                            <img alt="Partners link" src="{{part.img.url}}" width="100">
                        </a>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
               <div class="license-container">
                    {% for l in licenses %}
                    <div class="license">
                        <div class="license-text">{{l.license}}</div>
                            {% if l.image %}
                        <a target="_blank" href="{{l.image.url}}">
                                <img class="license-img" width="200px" src="{{ l.image.url }}"
                                     alt="license">
                        </a>
                            {% endif %}
                    </div>
                    {% endfor %}
               </div>
            </div>
            <div class="footer-links">
                <a {% if not home_page %} href=" {% url 'main:home' %}#service " {% endif %}
                   onclick="scrollToAnchor('service')" class="link">{% trans 'Наші послуги' %}</a>
                <a {% if not home_page %} href=" {% url 'main:home' %}#about-us " {% endif %}
                   onclick="scrollToAnchor('about-us')" class="link">{% trans 'Про нас' %}</a>
<!--                <a class="link">{% trans 'Технологічна вітка' %}</a>-->
                <a href="{% url 'main:contacts' %}" class="link">{% trans 'Контакти' %}</a>
                <div class="lang-panel">
                    {% for lang in language.LANGUAGES %}
                    {% if lang.0 == language.SELECTEDLANG %}
                    <button class="lang {% if lang.0 == request.LANGUAGE_CODE %} active {% endif %}">
                        {{ lang.0 }}
                    </button>
                    {% else %}
                    <form action="{% url 'set_language' %}" method="post"> {% csrf_token %}
                        {% if language.redirect_to == '/' %}

                {% if  lang.0 == 'uk' %}
                <input name="next" type="hidden" value="{{ language.redirect_to }}"/>
                {% else %}
                <input name="next" type="hidden" value="/{{lang.0}}"/>

                {% endif %}
                {% endif %}
                        <input type="hidden" name="language" value="{{ lang.0 }}">
                        <button class="lang ">
                            {{ lang.0 }}
                        </button>
                    </form>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="copyright">
                © 2020 Ultragenom.{% trans ' All rights reserved.' %}
            </div>
<!--            <div class="lang-panel">-->
<!--                {% for lang in language.LANGUAGES %}-->
<!--                {% if lang.0 == language.SELECTEDLANG %}-->
<!--                <button class="lang {% if lang.0 == request.LANGUAGE_CODE %} active {% endif %}">-->
<!--                    {{ lang.0 }}-->
<!--                </button>-->
<!--                {% else %}-->
<!--                <form action="{% url 'set_language' %}" method="post"> {% csrf_token %}-->
<!--                    <input name="next" type="hidden" value="{{ language.redirect_to }}"/>-->
<!--                    <input type="hidden" name="language" value="{{ lang.0 }}">-->
<!--                    <button class="lang ">-->
<!--                        {{ lang.0 }}-->
<!--                    </button>-->
<!--                </form>-->
<!--                {% endif %}-->
<!--                {% endfor %}-->
<!--            </div>-->
        </div>
    </div>
</footer>
