{% load poll_extras %}
{% load i18n %}
{% load static %}
{% get_language request as language %}
{% get_license  as license %}
{% get_partners  as partners %}
{% get_accessories  as acc %}
{% get_reviews as reviews %}
<header {% if not home_page %} class="scroll-header js-not-home" {% endif %}>
    <div class="header-container">
        <a href="{% url 'main:home' %}">
            <img width="100" height="100" src="{% static 'images/logo.png' %}">
        </a>
        <div class="nav-links-container">
            <div class="dropdown">
                <button class="dropbtn">{% trans 'Послуги' %}</button>
                <div class="dropdown-content">
                    <a href="{% url 'main:gen_test' %}" class="nav-link">{% trans 'Генетичні тести' %}</a>
                    <!--                    <a href="#" class="nav-link">{% trans 'Інше' %}</a>-->
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">{% trans 'Про нас' %}</button>

                <div class="dropdown-content">
                    <a {% if not home_page %} href=" {% url 'main:home' %}#service " {% endif %}
                       onclick="scrollToAnchor('service')" class="nav-link">{% trans 'Наші послуги' %}</a>
                    <a {% if not home_page %} href=" {% url 'main:home' %}#about-us " {% endif %}
                       onclick="scrollToAnchor('about-us')" class="nav-link">{% trans 'Про нас' %}</a>
                    <a {% if not home_page %} href="{% url 'main:home' %}#team " {% endif %}
                       onclick="scrollToAnchor('team')" class="nav-link">{% trans 'Наша команда' %}</a>
                    {% if acc %}
                    <a {% if not home_page %}href=" {% url 'main:home' %}#accessories " {% endif %}
                       onclick="scrollToAnchor('accessories')" class="nav-link">{% trans 'Наше обладнання' %}</a>
                    {% endif %}
                    {% if license %}
                    <a {% if not home_page %}href=" {% url 'main:home' %}#certificates " {% endif %}
                       onclick="scrollToAnchor('certificates')" class="nav-link">{% trans 'Наші сертифікати' %}</a>
                    {% endif %}
                    {% if partners %}
                    <a {% if not home_page %}href=" {% url 'main:home' %}#partners " {% endif %}
                       onclick="scrollToAnchor('partners')" class="nav-link">{% trans 'Наші партнери' %}</a>
                    {% endif %}
                    {% if reviews %}
                    <a {% if not home_page %}href=" {% url 'main:home' %}#feedbacks " {% endif %}
                       onclick="scrollToAnchor('feedbacks')" class="nav-link">{% trans 'Відгуки' %}</a>
                    {% endif %}
                    <a href="{% url 'main:contacts' %}" class="nav-link">{% trans 'Контакти' %}</a>
                </div>
            </div>
            <!--        // todo: Second iteration-->
<!--            <div class="dropdown">-->
<!--                <button class="dropbtn">{% trans 'Технологічна вітка' %}</button>-->
<!--                <div class="dropdown-content">-->
<!--                    <a href="{% url 'main:accessories' %}" class="nav-link">{% trans 'Наше обладнання' %}</a>-->
<!--                    <a href="{% url 'main:certificates' %}" class="nav-link">{% trans 'Наші сертифікати' %}</a>-->
<!--                    <a href="{% url 'main:partners' %}" class="nav-link">{% trans 'Наші партнери' %}</a>-->
<!--                </div>-->
<!--            </div>-->
            <a href="{% url 'main:contacts' %}">{% trans 'Контакти' %}</a>
        </div>
        <div class="lang-panel">
            {% for lang in language.LANGUAGES %}
            {% if lang.0 == language.SELECTEDLANG %}
            <button class="lang {% if lang.0 == request.LANGUAGE_CODE %} active {% endif %}">
                {{ lang.0 }}
            </button>
            {% else %}
            <form action="{% url 'set_language' %}" method="post"> {% csrf_token %}
                {% if language.redirect_to == '/' %}

                {% if  lang.0 == 'uk' %}
                <input name="next" type="hidden" value="{{ language.redirect_to }}"/>
                {% else %}
                <input name="next" type="hidden" value="/{{lang.0}}"/>

                {% endif %}
                {% endif %}
                <input type="hidden" name="language" value="{{ lang.0 }}">
                <button class="lang ">
                    {{ lang.0 }}
                </button>
            </form>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="header-container-mobile">
        <a href="{% url 'main:home' %}">
            <img class="mobile-logo" src="{% static 'images/logo.png' %}">
        </a>
        <div class="menu-button">
            <button id="toggle-header-button">
                <i class="fa fa-bars"></i>
            </button>
        </div>
    </div>
</header>


<div id="mobile-menu" class="mobile-menu-container">
    <div class="close-button-container">
        <button id="close-mobile-menu-button">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <nav class="mobile-navigation">
        <div class="dropdown-mobile-container">
            <div class="dropdown-mobile-button-container">
                <button class="dropbtn-mobile">{% trans 'Послуги' %}</button>
                <i class="fa fa-chevron-down"></i>
                <i class="fa fa-chevron-up"></i>
            </div>
            <div class="dropdown-mobile-content">
                <a href="{% url 'main:gen_test' %}" class="nav-link">{% trans 'Генетичні тести' %}</a>
                <!--                <a href="#" class="nav-link">{% trans 'Інше' %}</a>-->
            </div>
        </div>
        <div class="dropdown-mobile-container">
            <div class="dropdown-mobile-button-container">
                <button class="dropbtn-mobile">{% trans 'Про нас' %}</button>
                <i class="fa fa-chevron-down"></i>
                <i class="fa fa-chevron-up"></i>
            </div>
            <div class="dropdown-mobile-content">
                <a {% if not home_page %} href=" {% url 'main:home' %}#service " {% endif %}
                   onclick="scrollToAnchor('service')" class="nav-link">{% trans 'Наші послуги' %}</a>
                <a {% if not home_page %} href=" {% url 'main:home' %}#about-us " {% endif %}
                   onclick="scrollToAnchor('about-us')" class="nav-link">{% trans 'Про нас' %}</a>
                <a {% if not home_page %} href="{% url 'main:home' %}#team " {% endif %}
                   onclick="scrollToAnchor('team')" class="nav-link">{% trans 'Наша команда' %}</a>
                {% if acc %}
                <a {% if not home_page %}href=" {% url 'main:home' %}#accessories " {% endif %}
                   onclick="scrollToAnchor('accessories')" class="nav-link">{% trans 'Наше обладнання' %}</a>
                {% endif %}

                {% if license %}
                <a {% if not home_page %}href=" {% url 'main:home' %}#certificates " {% endif %}
                   onclick="scrollToAnchor('certificates')" class="nav-link">{% trans 'Наші сертифікати' %}</a>
                {% endif %}
                {% if partners %}
                <a {% if not home_page %}href=" {% url 'main:home' %}#partners " {% endif %}
                   onclick="scrollToAnchor('partners')" class="nav-link">{% trans 'Наші партнери' %}</a>
                {% endif %}
                {% if reviews %}
                <a {% if not home_page %}href=" {% url 'main:home' %}#feedbacks " {% endif %}
                   onclick="scrollToAnchor('feedbacks')" class="nav-link">{% trans 'Відгуки' %}</a>
                {% endif %}
                <a href="{% url 'main:contacts' %}" class="nav-link">{% trans 'Контакти' %}</a>
            </div>
        </div>
<!--        &lt;!&ndash;        // todo: Second iteration&ndash;&gt;-->
<!--        <div class="dropdown-mobile-container">-->
<!--            <div class="dropdown-mobile-button-container">-->
<!--                <button class="dropbtn-mobile">{% trans 'Технологічна вітка' %}</button>-->
<!--                <i class="fa fa-chevron-down"></i>-->
<!--                <i class="fa fa-chevron-up"></i>-->
<!--            </div>-->
<!--            <div class="dropdown-mobile-content">-->
<!--                <a href="{% url 'main:accessories' %}" class="nav-link">{% trans 'Наше обладнання' %}</a>-->
<!--                <a href="{% url 'main:certificates' %}" class="nav-link">{% trans 'Наші сертифікати' %}</a>-->
<!--                <a href="{% url 'main:partners' %}" class="nav-link">{% trans 'Наші партнери' %}</a>-->
<!--            </div>-->
<!--        </div>-->
        <div class="mobile-menu-link">
            <a href="{% url 'main:contacts' %}" class="dropbtn-mobile">{% trans 'Контакти' %}</a>
        </div>
    </nav>
    <div class="lang-panel">
        {% for lang in language.LANGUAGES %}
        {% if lang.0 == language.SELECTEDLANG %}
        <button class="lang {% if lang.0 == request.LANGUAGE_CODE %} active {% endif %}">
            {{ lang.0 }}
        </button>
        {% else %}

        <form action="{% url 'set_language' %}" method="post"> {% csrf_token %}

             {% if language.redirect_to == '/' %}

                {% if  lang.0 == 'uk' %}
                <input name="next" type="hidden" value="{{ language.redirect_to }}"/>
                {% else %}
                <input name="next" type="hidden" value="/{{lang.0}}"/>

                {% endif %}
                {% endif %}
            <input type="hidden" name="language" value="{{ lang.0 }}">
            <button class="lang ">
                {{ lang.0 }}
            </button>
        </form>
        {% endif %}
        {% endfor %}
    </div>
</div>
