<div class="container">
    <div class="not-found-container">
        <h1 class="not-found-title">404</h1>
        <div class="not-found-text">{% trans 'Сторінку не знайдено' %}</div>
    </div>
</div>
