.not-found-container {
  background: #FFFFFF;
  padding: 20px;
  width: max-content;
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  margin: 200px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .not-found-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 500;
    font-size: 70px;
    line-height: initial;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin: 50px 0;
  }
  .not-found-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 40px;
    line-height: initial;
    margin-bottom: 20px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    text-align: center;
  }
}
@media screen and (max-width: 767px){
  .not-found-container {
    padding: 10px;
    width: calc(100% - 20px);
    .not-found-title {
      font-size: 50px;
    }
    .not-found-text {
      font-size: 30px;
    }
  }
}
@media screen and (max-width: 480px){
  .not-found-container {
    margin: 100px auto;
  }
}
