@import 'variables';
@import 'main';
@import 'test_info';
@import 'pages/all_tests';
@import 'pages/service';
@import 'pages/contacts';
@import 'pages/accessories';
@import 'pages/certificates';
@import 'pages/partners';
@import 'normalize';
@import 'styles_home';
@import '404';
@import 'swiper.min.css';
h1,h2,h3,h4,h5,h6{font-weight: normal;}
.app-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 100%;
  height: 100vh;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  justify-content: space-between;
}

.block-margin {
  margin-top: 140px;
}
.accessories-pagination, .partners-pagination, .feedback-pagination {
  .swiper-pagination-bullet {
    background: #326099;
  }
}
@media screen and (max-width: 479px){
  .block-margin {margin-top: 70px; }
}
