.analysis-container {
  width: calc(100% - 30px);
  //margin-top: 140px;
}
.key-value-wrap {
  display: flex;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #1F3F68;
  border-bottom: 1.5px solid $lightBlue;
  .name-column-container {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 415px;
    border-right: 1.5px solid $lightBlue;
    font-weight: bold;
    .name-content {
      padding: 50px 80px 50px 0;
    }
  }
  .value-column-container {
    display: flex;
    align-items: center;
    flex:1;
    .value-content {
      padding: 50px 0 50px 80px;
    }
  }
}
.genetic-analysis-container{
  .key-value-wrap:last-child {
    margin-bottom: 50px;
  }
}
.title-info-page {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #1F3F68;
  margin-bottom: 70px;
}

.info-name {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #1F3F68;
  text-align: center;
}
.info-text {
  font-size: 20px;
  line-height: 24px;
  color: #1F3F68;
  margin-bottom: 150px;
}
.hide{
  display: none;
}
@media screen and (max-width: 767px){
  .key-value-wrap {
    .name-column-container {
      .name-content{
        padding: 20px 5px 20px 0;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
      }
    }
    .value-column-container {
      .value-content {
        padding: 20px 0 20px 5px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        hyphens: auto;
      }
    }
  }
  .title-info-page{
    margin-bottom: 30px;
  }
  .info-name {
    font-size: 18px;
  }
}
//@media screen and (max-width: 479px){
//  .analysis-container {
//    margin-top: 70px;
//  }
//}
